@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Regular.ttf);
}
@font-face {
    font-family: "Mulish-Bold";
    src: url(../fonts/Mulish-Bold.ttf);
}
@font-face {
    font-family: "Mulish-Medium";
    src: url(../fonts/Mulish-Medium.ttf);
}
@font-face {
    font-family: "Mulish-SemiBold";
    src: url(../fonts/Mulish-SemiBold.ttf);
}
@font-face {
    font-family: "Mulish-Light";
    src: url(../fonts/Mulish-Light.ttf);
}
